{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    {% if title is defined %}
        <h1 class="page__title">{{title}}</h1>
    {% else %}
        <h1>Header</h1>
    {% endif %}
    <form method="post">
        <div class="form-group">
            <label for="inputEmail" class="required">Email</label>
            <input type="email" name="email" id="inputEmail" required="required" class="form-control" required autofocus>
            <div class="form-group">
                <button type="submit" id="ok" name="ok" class="btn-primary btn-block btn">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}