{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    {% if title is defined %}
        <h1 class="page__title">{{title}}</h1>
    {% else %}
        <h1>Header</h1>
    {% endif %}
    <form method="post">
        <label for="inputEmail" class="sr-only">Your mail</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

        <button class="btn btn-lg btn-primary mt-3" type="submit">
            Send
        </button>
    </form>
{% endblock %}