{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    {% if title is defined %}
    <h1 class="page__title">{{title}}</h1>
    {% else %}
    <h1>Header</h1>
    {% endif %}
    <form method="post">
        <div class="form-group">
            <label for="inputPassword" class="required">Your new password</label>
            <input type="password" name="password" id="inputPassword" required="required" class="form-control" required autofocus>
            <input type="hidden" name="token" value="{{ token }}">
            
            <div class="form-group">
                <button type="submit" id="ok" name="ok" class="btn-primary btn-block btn">Submit</button>
            </div>
        </div>
    </form>
    {{dump(token)}}
{% endblock %}