/* base */

* {
    box-sizing: border-box;
    background-repeat: no-repeat;
    font-family: 'EB Garamond', serif;   
}

#page {
    flex: 1;
    background-color: #FAF7EE;
}

#content {padding: 1em 10%;}

.page__title {
    color: #333333;
    font-weight: bold;
    border-bottom: solid 1px #333333;
}

.links {
    color: #ED5944;
    font-weight: bold;
    text-decoration: none;
}

.links:hover {
    color: #333333;
    text-decoration: none;
}

/*header_logo
----------------------------- */

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo img {
    width: 59px;
    height: 60px;
}


/*header
------------------------------ */

#header {background-color: #333333;}

.header__content {
    display: flex;
    align-items: center;
    padding: 15px 10px 15px 50px;
}

.header__logo-txt {
    color: #FAF7EE;
    font-family: 'Merienda', cursive;
    font-style: oblique;
    font-size: 0.85em;
    margin: 0;
    margin-top: 4px;
}

.header__nav {flex: 1 auto;}

.nav {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

.navbar {
    background-color: #333333;
    color: white;
}

.nav__wrap {
    display: flex;
    align-items: center;
}

.nav__item {padding: 10px;}

.nav__item-link {
    color: #FAF7EE;
    font-family: 'EB Garamond', serif;
    font-size: 1em;
}

.nav__item.active .nav__item-link {
    color: #ED5944;
    text-decoration: none;
}

.nav__item.cart {
    margin-left: 10px;
    position: relative;
    padding: 0;
}

.nav__item.cart .badge {
    position: absolute;
    right: 10px;
    top: 0px;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 11px;
    line-height: 14px;
    color: #FAF7EE;
    background-color: #ED5944
}

.nav__item.username {
    margin-left: 10px;
    padding: 0;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.user:hover {background-color: #5a5a5a;}

.user:hover .user__dd {
    display: flex;
    background-color: #5a5a5a;
}

.user__name {
    font-size: 12px;
    color: #FAF7EE;
}

.user__img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.user__dd {
    display: none;
    position: absolute;
    border-radius: 5px;
    top: 100%;
    width: 150px;
    justify-content: flex-end;
    right: 0;
    padding: 5px;
    flex-direction: column;
    align-items: flex-end;
    border-top-right-radius: 0;
}

.user__dd-item {
    border-radius: 5px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    cursor: pointer;
    padding-right: 5px;
}

.user__dd-item:hover {background-color: #333333;}

.nav__item-link:hover {
    color: #ED5944;
    text-decoration: none;
}

/* Homepage
------------------------------ */

#home1__wrap {
    display: flex;
    justify-content: space-between;
}

ul.list_genres {list-style: none;}

#map {
    width: 500px;
    height: 300px;
    border: 1px solid #333333;
    margin: 1em;
}

.leaflet-popup-content {
    margin: 5px 5px;
    color: #333333;
    font-weight: bold;
    font-size: 1.0em;
}

.quotes {
    margin: 1em;
    max-width: 450px;
}

.quotes div {
    display: flex;
    align-items: center;
}

.quotes__author-img {
    width: 60px;
    height: 70px;
    margin-right: 5px;
    border-radius: 25%;
    border: 1px solid #333333;
}

.quotes__content-txt {
    line-height: normal;
    color: #333333;
    font-weight: bold;
}

.quotes__content-txt strong {
    float: right;
    margin: 1em;
}

.quotes__content-author {
    color: #333333;
    text-align: end;
}

/* Store
------------------------------ */

.store__book-img {
    width: 350px;
    margin: 0.5em;
    border: solid #333333 2px;
}

.store__book-img ~ a {
    display: block;
    text-align: center;
    margin: 0.5em auto;
}

.store__book-img ~ div {
    display: block;
    text-align: center;
    margin: 0.5em auto;
    font-size: x-large;
    font-weight: bold;
}

.store__user_comments {
    display: flex;
    max-width: 900px;
    margin: 2em auto;
}

.store__user-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.published_by {text-align-last: end;}

#eBook_price {color: #ED5944;}

#add_to_cart button {
    border-radius: 25px;
    background-color: #ED5944;
    color: #FAF7EE;
    cursor: pointer;
}

aside {
    width: 20%; 
    border-left: 1px solid #333333; 
    margin: 0.5em; 
    flex: 0.7;
}

#author-info {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    box-shadow: 0 0 10px #333333;
    background-color: #FAF7EE;
    padding-top: 1em;

}

#auth-info-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    color: #333333;
    cursor: pointer;
    z-index: 200;
}

#auth-info-toggle button {
    border-radius: 25px;
    background-color: #333333;
    color: #FAF7EE;
    cursor: pointer;
}

#auth-info-close:hover i {color: #000;}

#author__part {
    width: 125px;
    height: 150px;
    margin: 0 auto;
    display: block;
    border: solid #333333 2px;
}

aside div {
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: justify;
    padding: 1em;
    font-weight: bold;
}

.edit__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit__content-img {
    width: 30px;
    margin: 1em;
}

/* Classes for star ratings
------------------------------- */

.fa-star, .fa-star-half-alt, .published_by span {color: #ED5944;}

/* Genres
------------------------------ */

.genre_items {
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.genre_items-img {
    width: 130px;
    height: 200px;
    border: solid #333333 2px;
    margin: 10px;
}

/* Forms
------------------------------ */

form div {
    max-width: 900px;
    margin: 1em auto;
}

legend {
    width: 900px;
    margin: 1em auto; 
}

fieldset {
    width: 900px;
    margin: 1em auto; 
    color: #333333;
    font-weight: bold;
}

.form-control {
    border: 1px solid #333333;
    color: #333333;
}

.form-group label {
    color: #333333;
    font-weight: bold;
}

.btn-primary {
    color: #FAF7EE;
    background-color: #333333;
    border-color: #333333;
    width: 100%;
}

.btn-primary:hover {
    color: #333333;
    font-weight: bold;
    background-color: #ED5944;
    border-color: #ED5944;
}

.custom-file-label {border: 1px solid #333333;}

.custom-file-label::after {
    background-color: #333333;
    color: #FAF7EE;
    font-weight: lighter;
}

#login_additional {
    max-width: 900px;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
}

#login_additional div {
    color: #333333;
    font-weight: bold;
}

/* footer
------------------------------ */

#footer {background-color: #FAF7EE;}

.footer__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    border-top: 0.1px inset rgba(0,0,0,.075);
    border-bottom: 0.1px inset rgba(0,0,0,.075);
}

.footer__title {
    color: #333333;
    font-weight: bold; 
    margin: 1em;
    text-align: center;
}

#footer__payment {
    width: 365px;
    margin-bottom: 10px;
}

.footer__section-contents-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__section-contents-details-text {
    margin-left: 5px;
    color: #333333;
    font-weight: bold;
}

.footer__section-contents-details-img {
    width: 32px;
    height: 32px;
    margin: 5px;
}

.footer__section-contents-details ul {
    list-style: none;
    padding-left: 5px;
}

.footer__section-contents-details li {margin: 10px;}

.footer__section-contents-details:hover {text-decoration: none;}

/* download */

.download__store-list {
    display: flex;
    flex-direction: row-reverse;
}

.download__store-img {
    width: 180px;
    height: 64px;
    margin: 5px;
}

/* contact */

.contact__list {
    display: flex;
    flex-direction: column;
    min-height: 130px;
}

/* signature */

.footer__section-signature {
    float: right;
    padding: 20px 50px 20px 50px;
}

#signature {text-align: center;}

/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
}

/* ------------------------------------------------ */