/*base*/
body{background: #FAF7EE}

* {
    background-repeat: no-repeat;
}

/*generique*/
.padded{padding: 15px;}

/*header_logo*/

#logo
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner_image
{
    margin-top: 15px;
    width: 960px;
    height: 600px;
    border-radius: 5px;
    background: url(img/library.jpg) no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

.navbar
{
    background-color: #333333;
    color: white;
}


/*header
---------------------------------*/

.header {
    background-color: #333333;
}

.header__content {
    display: flex;
    align-items: center;
    padding: 15px 10px 15px 50px;
}

.header__nav {
    flex: 1 auto;
}

.header__logo img {
    width: 59px;
    height: 60px;
}

.header__logo-txt {
    color: #FAF7EE;
    font-family: 'Merienda', cursive;
    font-style: oblique;
    font-size: 13px;
    margin: 0;
    margin-top: 4px;
}

.nav {
    justify-content: space-between;
    padding-left: 10px;
}

.nav__wrap {
    display: flex;
    align-items: center;
}

.nav__item {
    padding: 10px;    
}

.nav__item.active .nav__item-link {
    color: #ED5944;
    text-decoration: none;
}

.nav__item-link {
    color: #FAF7EE
}

.nav__item.cart {
    margin-left: 10px;
    position: relative;
    padding: 0;
}

.nav__item.cart .badge {
    position: absolute;
    right: 10px;
    top: 0px;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 11px;
    line-height: 14px;
    color: #FAF7EE;
    background-color: #ED5944
}

.nav__item.username {
    margin-left: 10px;
    padding: 0;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.user:hover {
    background-color: #5a5a5a;
}

.user:hover .user__dd {
    display: flex;
    background-color: #5a5a5a;
}

.user__name {
    font-size: 12px;
    color: #FAF7EE;
}

.user__img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.user__dd {
    display: none;
    position: absolute;
    border-radius: 5px;
    top: 100%;
    width: 150px;
    justify-content: flex-end;
    right: 0;
    padding: 5px;
    flex-direction: column;
    align-items: flex-end;
    border-top-right-radius: 0;
}

.user__dd-item {
    border-radius: 5px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    cursor: pointer;
    padding-right: 5px;
}

.user__dd-item:hover {
    background-color: #333333;
}

.nav__item-link:hover {
    color: #ED5944;
    text-decoration: none;
}

/* footer
-------------------------------*/

#footer
{
    background-color: #FAF7EE;
    margin-top: 20px; 
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.footer__section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px 10px 15px 10px;
    border-top: 0.1px inset rgba(0,0,0,.075);
    border-bottom: 0.1px inset rgba(0,0,0,.075);
}

.footer_title
{
    color: #333333;
    font-size: 17px;
    font-family: 'EB Garamond', serif;
    font-weight: bold; 
    margin: 10px 0px 20px 0px; 
}

.download_store_list
{
    display: flex;
    flex-direction: row-reverse;
}

.download_store-img
{
    width: 180px;
    height: 64px;
    margin: 5px;
}

.footer__section_contents 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 230px;
}

.navigate_links_list
{
    align-items: center;
}

.navigate_links_list ul 
{
    list-style: none;
    padding-left: 5px;
}

.navigate_links 
{
    display: flex;
}

.social_media_list 
{
    display: flex;
	flex-direction: row;
    align-items: center;
}

.social_media_list:hover {
    text-decoration: none;
}

.social_media-text 
{
    display: flex;
    flex-direction: column;
    line-height: normal;
    margin-left: 5px;
    color: #333333;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    font-size: 15px;
}

.social_media-text:hover
{
    color: #ED5944;
    text-decoration: none;
}

.social_media-img 
{
    width: 32px;
    height: 32px;
    margin: 5px;
}

.social_media_list ul 
{
    list-style: none;
    padding-left: 5px;
}

.social_media_list li 
{
	margin: 10px;
}

.footer_linkedin {
    float: right;
    padding: 20px 50px 20px 50px;
}

#my_linkedin {
    text-align: center;
}

.shops_links
{
    color: #333333;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none; 
}

.shops_links:hover 
{
    color: #ED5944;
    text-decoration: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}


    

    /*position: absolute;
    right: 4px;
    top: -3px;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 14px;
    line-height: 16px;*/



