@media screen and (max-width: 320px) 
{
    h1, h4 {font-size: 1.5em;}
    h6, p, .nav__item-link {font-size: 0.8em;}

    /* header
    -------------------------- */

    .header__content {padding: 10px 5px 10px 13px;}

    #logo img 
    {
        width: 44px;
        height: 45px;
    }

    .header__logo-txt {font-size: 0.6em;}

    .nav__item {padding: 5px;}

    /* homepage
    -------------------------- */

    #home1__wrap 
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #home1__wrap div .links h4 {text-align: center;}

    #map 
    {
        width: 240px;
        height: 240px;
        margin: 0px auto;
    }

    .genre_items
    {
        flex-direction: column;
        align-items: center;
    }

    .quotes__content-txt, .quotes__content-author {font-size: small}

    .form-group label, #photo_upload-form .form-group .btn-primary {font-size: 0.8em;}

    /* store
    -------------------------- */

    .settings
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .settings > div 
    {
        text-align: center;
    }

    .store__book-img {width: 200px;}

    #store__content {flex-direction: column;}

    .br-theme-fontawesome-stars .br-widget a {font-size: x-large;}

    .store__user_comments {margin: 2em 0;}

    .personal_ratings
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0.5em;
    }

    .personal_ratings i {width: 20px;}

    .member_name > h5 {font-size: x-small;}

    .store__user-img 
    {
        width: 40px;
        height: 40px;
    }

    #author__part 
    {
        width: 100px;
        height: 120px; 
    }

    #author-info {width: 95%;}

    .published_by {text-align-last: center;}

    /* member page 
    -------------------------- */

    .member-img 
    {
        width: 125px;
        height: 125px;
    }

    .member_name > h2 
    {
        font-size: 1em;
        display: grid;
    }

    .member_name > h2 > span {margin: 0.3em;}

    /* admin page
    --------------------------- */

    #admin__options .links {font-size: 1em;}

    #admin__edit__author-img {width: 170px;}

    .edit__content-img 
    {
        width: 15px;
        margin: 0.1em;
    }

    .admin__edit-buttons {justify-content: center;}

    .show, .hide {width: 100%;}

    /* super admin page
    -------------------------- */

    #super_admin_page ul {padding: 0.2em;}

    .users__list 
    {
        padding: 0;
        margin: 0.8em;
    }

    .users__list-text {font-size: 0.7em;}

    .user__control-img 
    {
        width: 15px;
        margin-left: 0.5em;
    }

    /* user
    -------------------------- */

    .favorite_books-img 
    {
        width: 75px;
        height: 125px;
    }

    /* cart
    -------------------------- */

    .cart__wrap {margin: 0.3em;}

    #cart ul {padding: 0.2em}

    .cart_items-text {font-size: 0.7em;}

    .cart_items-img 
    {
        width: 40px;
        height: 60px;
    }

    .cart_items-remove {width: 25px;}

    #total {right: 38px;}

    #total_box a img 
    {
        width: 25px;
        right: 8px;
    }

    /* footer
    -------------------------- */

    #footer__payment {width: 200px;}

    .footer__section-contents-details-text, .links {font-size: 0.7em;}

    .download__store-img 
    {
        width: 130px;
        height: 45px;
        margin: 5px;
    }
}