{% extends 'base.html.twig' %}

{% block title %}Hello ShoppingCartController!{% endblock %}

{% block body %}
  
    {% if cartlines is not empty %}
        {% for book in cartlines %}
           
            <a href={{ path("show_book", {'id': book.id}) }}>{{ book.title }}</a>
        {% endfor %}
    {% else %}
        <p>Your cart is empty !</p>
    {% endif %}



{% endblock %}
